.app-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(148, 157, 215);
  padding: 40px;
}
.name{
  text-align: center;
  color: rgb(31, 42, 193);
  font-family: sans-serif;
  text-decoration: underline;
}